::-webkit-scrollbar
  width:6px
::-webkit-scrollbar-track
  background-color:#fff
  -webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.2)
  tn(.5s)
::-webkit-scrollbar-track:hover
  -webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.3)
::-webkit-scrollbar-thumb
  background-color:$color-green
  border-radius:10px
  tn(.5s)
::-webkit-scrollbar-thumb:hover
  background-color:$color-green
body
  scrollbar-base-color:$color-green
  scrollbar-3dlight-color:$color-green
  scrollbar-highlight-color:$color-green
  scrollbar-track-color:#fff;
  scrollbar-arrow-color:$color-green
  scrollbar-shadow-color:$color-green
  scrollbar-dark-shadow-color:$color-greens