$color-green = #009688;
$color-blue = #33bbed;
$color-green-hover = #048796;
$color-gray = #afaeae;

$header-height = 58px;
$mobile = 479px;
$mobile-vertical = 768px;
$dectop-md = 1600px;

easeInOutSine = cubic-bezier(0.445, 0.050, 0.550, 0.950)
easeOutBack = cubic-bezier(0.250, -0.250, 0.750, 1.250)
easing = easeOutBack
duration = .5s